[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[user]
	email = djrose@amazon.com
	name = DJ Rose
[alias]
	br = !git branch -va
	cb = checkout -B
	st = status
	spull = !git pull && git submodule sync --recursive && git submodule update --init --recursive
	spush = push --recurse-submodules=on-demand
	supdate = submodule update --init --recursive
	tidy = rebase -i @{u}
	log = log --graph --pretty=format:'%C(yellow)%h%Creset -%C(red)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	summary = log --prettty=format:'[%h] %an %ar: %s' --stat
	lp = log -p -1
	srebase = submodule update --remote --rebase -- .
	dag = log --graph --format='format:%C(yellow)%h%C(reset) %C(blue)\"%an\" <%ae>%C(reset) %C(magenta)%cr%C(reset)%C(auto)%d%C(reset)%n%s' --date-order
[pull]
	rebase = preserve
[status]
	submoduleSummary = true
[diff]
	submodule = log
[color]
	ui = auto
[core]
	pager = less -FMRiX
[push]
	default = simple
